#calculator {
  background: rgba(0, 127, 221, 1);
  max-width: 100%;
  position: relative;
  padding: 150px 0;

  .calculator-content {
    .heading {
      h3 {
        font-weight: 800;
        font-size: 4em;
        text-align: center;
        margin: 0px 15px 75px;
        color: #fff;
      }
    }

    .tabs {
      ul {
        text-align: center;
        border: 0;
        position: relative;
        margin: 0 auto;
        max-width: 1350px;
        justify-content: center;

        li {
          display: inline-block;
          float: none;
          font-size: 1.5em;
          color: rgba(255, 255, 255, .4);
          text-transform: uppercase;
          margin: 0;
          font-weight: 800;

          &:focus-visible {
            border: unset;
          }

          button {
            line-height: 2;
            color: rgba(255, 255, 255, .4);
            margin: 0px 10px;
            border: unset !important;

            &:hover {
              border: unset !important;
            }

          }

          button.active {
            color: #fff;
            line-height: 2;
            border-width: 0 0 5px;
            background-color: unset;
            border-bottom: 1px solid #004e38 !important;
            border-width: 0 0 5px !important;

          }
        }
      }

      .desc {
        p {
          padding: 50px 0;
          margin: 0 auto;
          max-width: 1000px;
          text-align: center;
          color: #fff;
          font-weight: 300;
          font-size: 1.1em;
          line-height: 1.8;
        }
      }

      .calculator {
        padding: 50px;
        border-right: 1px solid rgba(255, 255, 255, .2) !important;
        .group-wrapper {
          position: relative;

          label {
            font-size: 14px;
            font-weight: 400;
            letter-spacing: 0.5px;
            color: #fff;
          }

          input,
          select {
            margin: 0 0 30px;
            background: transparent;
            box-shadow: 0 0;
            border: 0;
            border-bottom: 1px solid rgba(255, 255, 255, .2);
            padding-left: 15px;
            border-radius: 0px;
            font-size: 1.2em;
            width: 100%;
            height: 40px;
            // line-height: 40px;
            position: relative;
            box-sizing: border-box;
            color: #fff;
            text-transform: none;
            font-weight: bolder;
          }

          svg {
            position: absolute;
            color: #fff;
            font-size: 1.2em;
            z-index: 9;
            font-style: normal;
            line-height: 38px;
            height: 20px;
            left: -20px;
            width: 50px;
            text-align: right;
            bottom: 10px;
          }
        }

      }

      .calculations {
        padding: 50px;
        .heading {
          h2 {
            color: #fff;
            font-size: 4em;
            font-weight: 800;
            margin: 0 0 10px;
            border: 0;
            box-shadow: 0 0;
            padding: 0;
            text-align: center;
            line-height: 1.1;
          }

          h3 {
            color: rgba(255, 255, 255, .8);
            font-size: 1.2em;
            font-weight: 300;
            text-transform: uppercase;
            margin: 0 0 40px;
            padding: 0;
            letter-spacing: 4px;
            border: 0;
            box-shadow: 0 0;
            text-align: center;
          }
        }

        .selected-values-calc {
          
          div {
            display: flex;
            justify-content: space-between;

            p {
              margin: 0px;
              color: #fff;
              font-size: 1em;
              font-weight: 100;
              line-height: 50px;
            }

            h5 {
              font-weight: 700;
              font-size: 1.3em;
              color: #fff;
            }
          }
        }
      }

      p.desc {
        font-weight: 300;
        color: rgba(255, 255, 255, 0.7);
        margin: 50px 0 0;
        padding-top: 15px;
        border-top: 1px solid rgba(255, 255, 255, 0.1);
        box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1);
        display: block;
      }
    }
  }
}