nav{
    .navbar-brand{
        width: 25%;
        img{
            max-width: 80%;
            background: transparent;
            padding: 15px 0;
            box-shadow: 0 0;
            border-radius: 0 0 2px 2px;
            transition: .2s all;
        }
    }
    .navbar-nav{
        margin: 0 auto;
        .nav-item{
            .nav-link{
                color: #333;
                padding: 10px 15px 10px;
                font-weight: 600;
                margin: 0 1px;
                font-size: 1.1em;
                display: inline-block;
            }
            .dropdown-menu{
                border: 1px solid #efefef;
                border-radius: 10px;

                .dropdown-item{
                    background: transparent;
                    color: rgba(0, 0, 0, .9);
                    margin: 0;
                    padding: 8px 25px;
                    font-weight: 700;
                    font-size: 1.1em;
                    display: inline-block;
                    line-height: 1.5;
                    white-space: nowrap;
                    &:hover{
                        color: rgba(0, 127, 221, 1);
                    }
                }
            }
        }
        .nav-link{
            color: #333;
            padding: 10px 15px 5px;
            font-weight: 600;
            margin: 0 1px;
            font-size: 1.1em;
            display: inline-block;
        }

        .apply-online-btn{
            background: rgba(60, 59, 57, 1);
            border-radius: 50px;
            box-shadow: 0 0;
            color: #fff;
            // font-weight: 700;
            padding: 10px 25px;
            // margin: 25px 0 0 0;
            display: inline-block;
        }
    }    
}